.showTasks {
  display: none;
}

.listTask {
  cursor: pointer;
  color: #0088cc;
}
.itemDelete {
  cursor: pointer;
  color: red;
}

.listTask:hover {
  text-decoration: underline;
}
.itemDelete:hover {
  text-decoration: underline;
}
